.footer {
    flex-basis: 3rem;

    display: flex;
    justify-content: space-between;

    border-top: 1px solid rgb(112, 112, 112);
    padding: 1rem 0;

    span {
        color: rgb(112, 112, 112);
    }
}
