.top-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    height: 100vh;

    p {
        max-width: 50rem;
        padding: 5rem 0;
    }

    .video-container {
        width: 40rem;
        height: 20rem;
        border-radius: 220px;
        border: 5px white solid;
        overflow: hidden;
        position: relative;
    }

    video {
        // border-radius: 40px;
        // overflow: hidden;
        // border: 3px solid white;

        background-color: white;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}
